.column.single
{
	width: 70% !important;
	margin-left: 15%;
	margin-right: 15%;
}

.new-campaign-menu-module .row > .l-progressbar-container
{
	top: -0.7rem;
    width: 12.7rem;
    height: 2.2rem;
    position: relative;
	display: inline-block;
	margin-bottom: -0.7rem;
    
}

.new-campaign-menu-module .l-progressbar-container > .ui-control.progressbar.has-frame {
    
    background-size: 12.7rem 2.2rem;
    background-repeat: no-repeat;
	overflow: visible;
}

.new-campaign-menu-module .row > img
{

    width: 2.6rem;
    height: 2.6rem;

}

.new-campaign-menu-module .row .talent
{
	position: absolute;
	z-index: 20;
}

.new-campaign-menu-module .is-selected img.talent-button,
.new-campaign-menu-module img.talent-button
{
	top: -2.3rem;
	left: 0rem;
}



.new-campaign-menu-module .l-increase-button-container .ui-control.button-8 >  span.talent-button
{
	left: 0.5rem;
}



.new-campaign-menu-module .l-increase-button-container
{
    width: 4.2rem;
    height: 2.8rem;
	display: inline-block;
}

.new-campaign-menu-module .l-increase-button-container > .ui-control.button-8 {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 4.2rem 2.8rem;
    text-shadow: 1px 1px 1px #000;
    color: #dda21f;
	margin-top: 0.4rem;
}

.new-campaign-menu-module .l-increase-button-container .ui-control.button-8 > .label {
    top: -0.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 0.4rem;
    text-align: center;
    overflow: hidden;
}

.new-campaign-menu-module > .dialog .content .single-column,
{
    padding-top: 5.0rem;
    width: 55.0rem;
    height: 100%;
    float: left;
}



.new-campaign-menu-module > .dialog .content .single-column .row,
{
    width: 51.0rem;
    float: left;
    position: relative;
    padding-top : 1.0rem;
    padding-left: 2.0rem;
}

.new-campaign-menu-module > .dialog .content .row .background-title {
    
    height: 2rem;
    float: left;
    margin-bottom: 2rem;
    margin-right: 2rem;
    line-height: 2.0rem;
   
    border-image-outset: 0 0 0.5rem 0;
}

.ui-control.button-6.avatar-arrow-button {
	height: 4.1rem;
    width: 4.5rem;
    vertical-align: middle;
	display: inline-block;
}



.trait > img {
	height: 3rem;
	position: absolute;
	top: 1rem;
	left: 8.2rem;
}

.trait > label {
	
	position: absolute;
	top: 1rem;
	left: 8.2rem;
}

.trait {
	width: 6rem;
	display: inline-block;
	text-align: center;

}

.l-text-area {
	width: 30rem;
	
	
}

textarea.history-input {
    -moz-user-select: -moz-text;
    -webkit-user-select: text;
    user-select: text;
	resize: none;
	
	width: 100%;
    height: 28rem;
	background-color: #261F1A ;
	border: none;
	color: #dda21f !important;
	
	font-family: 'Cinzel-Bold', monospace;
	font-size: 14px;
}

textarea.history-input:hover {

	background-color: #302117;
	background-image: none;

}

textarea.history-input:focus {
 
	border: none;
	outline: 0;
	background-image: none;
	background-color: #302117;
}


input.avatar-history {
    width: 100%;
	height: 28rem;
	background-color: #261F1A ;
	color: #dda21f !important;
	border: none;
	border-color: #595959;
	
	background-image: none;
    word-break: break-word;
	
	text-align: justify;
	
	font-size: 14px;
}

input.avatar-history:hover {

	background-color: #302117;
	background-image: none;

}



input.avatar-history:focus {
 
	border: none;
	outline: 0;
	background-image: none;
	background-color: #302117;
}




.avatar-history-border.focused,
.avatar-history-border:hover {
    background: linear-gradient(to left, #593610 , #CB9717, #593610 );
	padding: 1px;
	border-radius: 3px;
}



.avatar-history-border {
    background: linear-gradient(to left, #595959, #AFAFAF, #595959);
	padding: 1px;
	border-radius: 3px;
}


textarea.avatar-history {
    width: 100%;
	height: 28rem;
	background-color: #261F1A ;
	color: #dda21f !important;
	border: none;
	border-color: #595959;
	
	background-image: none;
	font-size: 14px;
}

textarea.avatar-history:hover {

	background-color: #302117;
	background-image: none;
	

}


.avatar-history-border.focused > textarea.avatar-history,
textarea.avatar-history:focus {
 
	border: none;
	outline: 0;
	background-image: none;
	background-color: #302117;
	

	
}


div.avatar-history {
    width: 100%;
	height: 28rem;
	background-color: #261F1A ;
	color: #dda21f !important;
	border: none;
	border-color: #595959;
	
	background-image: none;
	font-size: 14px;
}

div.avatar-history:hover {

	background-color: #302117;
	background-image: none;

}



div.avatar-history:focus {
 
	border: none;
	outline: 0;
	background-image: none;
	background-color: #302117;
}

.column.single .row
{
	width: 100% !important;
}

.avatar-appearance .appearance-control
{
	display: inline-block;
	width: 50%;
}

.avatar-appearance .ui-control.text
{
	display: inline-block;
	width: calc(100% - 9rem);
	text-align: center;

	background-size: 100% 100%;
}

.image-wrapper
{
	text-align: center;
	margin-top: 10px;
}

.background-control
{
	top: -1rem;
    position: relative;
    display: inline-block;
}

.background-control .ui-control
{
	top: -1.5rem;
}

.background-control .ui-control img
{
	height: 2.3rem;
}


.background-control img
{
	height: 4rem;
}

.row.background
{
	height: 4rem;
}