.new-campaign-menu-module .row > .l-progressbar-container
{

    width: 12.7rem;
    height: 2.2rem;
	display: inline-block;
}

.new-campaign-menu-module .l-progressbar-container > .ui-control.progressbar.has-frame {
    
    background-size: 12.7rem 2.2rem;
    background-repeat: no-repeat;
}

.new-campaign-menu-module .row > img
{

    width: 2.6rem;
    height: 2.6rem;

}

.new-campaign-menu-module .row .talent
{
	position: absolute;
	z-index: 20;
}

.new-campaign-menu-module .is-selected img.talent-button,
.new-campaign-menu-module img.talent-button
{
	top: -2.3rem;
	left: 0rem;
}



.new-campaign-menu-module .l-increase-button-container .ui-control.button-8 >  span.talent-button
{
	left: 0.5rem;
}



.new-campaign-menu-module .l-increase-button-container
{
    width: 4.2rem;
    height: 2.8rem;
	display: inline-block;
}

.new-campaign-menu-module .l-increase-button-container > .ui-control.button-8 {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 4.2rem 2.8rem;
    text-shadow: 1px 1px 1px #000;
    color: #dda21f;
	margin-top: 0.4rem;
}

.new-campaign-menu-module .l-increase-button-container .ui-control.button-8 > .label {
    top: -0.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 0.4rem;
    text-align: center;
    overflow: hidden;
}

.new-campaign-menu-module > .dialog .content .single-column,
{
    padding-top: 5.0rem;
    width: 55.0rem;
    height: 100%;
    float: left;
}



.new-campaign-menu-module > .dialog .content .single-column .row,
{
    width: 51.0rem;
    float: left;
    position: relative;
    padding-top : 1.0rem;
    padding-left: 2.0rem;
}

.new-campaign-menu-module > .dialog .content .row .background-title {
    
    height: 2rem;
    float: left;
    margin-bottom: 2rem;
    margin-right: 2rem;
    line-height: 2.0rem;
   
    border-image-outset: 0 0 0.5rem 0;
}

.ui-control.button-6.avatar-arrow-button {
	height: 4.1rem;
    width: 4.5rem;
    vertical-align: middle;
	display: inline-block;
}



.trait > img {
	height: 3rem;
	position: absolute;
	top: 1rem;
	left: 8.2rem;
}

.trait > label {
	
	position: absolute;
	top: 1rem;
	left: 8.2rem;
}

.trait {
	width: 6rem;
	display: inline-block;
	text-align: center;

}

textArea.avatar-history2 {
	width: 100%;
	height: 25rem;
	
	
	border-width: 1px;
	border-radius: 16px;
	border-image-slice: 1;
	
	background-color: rgb(39, 31, 26);
	
	color: #dda21f !important;
}

textArea.avatar-history2::after {
	
	background: linear-gradient(to left, #272727, #AFAFAF, #272727);
	position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    content: '';
    z-index: -1;
    border-radius: 3px;
}


textArea.avatar-history {
    width: 100%;
	height: 28rem;
	background-color: #261F1A ;
	color: #dda21f !important;
	border: none;
	border-color: #595959;
	
}

textArea.avatar-history:hover {

	background-color: #302117;

}



textArea.avatar-history:focus {
 
	border: none;
	outline: 0;
}

.avatar-history-border:hover {
    background: linear-gradient(to left, #593610 , #CB9717, #593610 );
	padding: 1px;
	border-radius: 3px;
}

.avatar-history-border {
    background: linear-gradient(to left, #595959, #AFAFAF, #595959);
	padding: 1px;
	border-radius: 3px;
}






textArea.avatar-history:focus {
	
}


